# Cricket Matches Graph json file to row data

In [19]:
import numpy as np
import pandas as pd
import json
import http.client
import time  

# List of match IDs
match_ids = [
    13265827, 13265828, 13265829, 13265830, 13265831, 13265832, 13265833, 
    13265834, 13265836, 13265837, 13265838, 13265840, 13558575, 13558576, 13569002
]

# API connection setup
conn = http.client.HTTPSConnection("allsportsapi2.p.rapidapi.com")

headers = {
    'x-rapidapi-key': "693b14936cmshb4229d5afd9d447p186b67jsn499928bbef0a",
    'x-rapidapi-host': "allsportsapi2.p.rapidapi.com"
}

# Parent dictionary to store all match data
parent_json = {}

# Loop through each match ID
for match_id in match_ids:
    try:
        # Make API request
        conn.request("GET", f"/api/cricket/match/{match_id}/graph", headers=headers)
        res = conn.getresponse()
        data = res.read()
        
        # Convert response to JSON
        data_json = json.loads(data.decode("utf-8"))
        
        # Store JSON in the parent dictionary with match_id as key
        parent_json[f"match_graph_details_{match_id}"] = data_json

        print(f"Data collected for Match ID {match_id}")

    except Exception as e:
        print(f"Error fetching data for Match ID {match_id}: {e}")

    time.sleep(1)  # Optional: Delay to prevent rate limits

# Save all match data in a single JSON file
with open("all_match_graph_data.json", "w", encoding="utf-8") as f:
    json.dump(parent_json, f, indent=4)

print("All match data saved in all_match_data.json")

Data collected for Match ID 13265827
Data collected for Match ID 13265828
Data collected for Match ID 13265829
Data collected for Match ID 13265830
Data collected for Match ID 13265831
Data collected for Match ID 13265832
Error fetching data for Match ID 13265833: Expecting value: line 1 column 1 (char 0)
Data collected for Match ID 13265834
Error fetching data for Match ID 13265836: Expecting value: line 1 column 1 (char 0)
Data collected for Match ID 13265837
Data collected for Match ID 13265838
Data collected for Match ID 13265840
Data collected for Match ID 13558575
Data collected for Match ID 13558576
Data collected for Match ID 13569002
All match data saved in all_match_data.json

## Loading Json file

In [59]:
import numpy as np
import pandas as pd
import json
with open("all_match_graph_data.json", "r", encoding="utf-8") as f:
   match_graph = json.load(f)
match_graph

{'match_graph_details_13265827': {'graphPoints': {'homeInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 1},
      {'over': 2, 'runs': 3},
      {'over': 3, 'runs': 5},
      {'over': 4, 'runs': 8, 'wickets': 1},
      {'over': 5, 'runs': 12},
      {'over': 6, 'runs': 14},
      {'over': 7, 'runs': 14},
      {'over': 8, 'runs': 19},
      {'over': 9, 'runs': 21},
      {'over': 10, 'runs': 22, 'wickets': 1},
      {'over': 11, 'runs': 24},
      {'over': 12, 'runs': 33},
      {'over': 13, 'runs': 35},
      {'over': 14, 'runs': 41},
      {'over': 15, 'runs': 49},
      {'over': 16, 'runs': 55},
      {'over': 17, 'runs': 55},
      {'over': 18, 'runs': 60},
      {'over': 19, 'runs': 65},
      {'over': 20, 'runs': 66},
      {'over': 21, 'runs': 69, 'wickets': 1},
      {'over': 22, 'runs': 70},
      {'over': 23, 'runs': 72},
      {'over': 24, 'runs': 80},
      {'over': 25, 'runs': 83},
      {'over': 26, 'runs': 84},
      {'over': 27, 'runs': 94},
      {'over': 28, 'runs': 104},
      {'over': 29, 'runs': 119},
      {'over': 30, 'runs': 124},
      {'over': 31, 'runs': 128, 'wickets': 1},
      {'over': 32, 'runs': 130, 'wickets': 1},
      {'over': 33, 'runs': 146},
      {'over': 34, 'runs': 153, 'wickets': 1},
      {'over': 35, 'runs': 156},
      {'over': 36, 'runs': 166},
      {'over': 37, 'runs': 175},
      {'over': 38, 'runs': 183},
      {'over': 39, 'runs': 187},
      {'over': 40, 'runs': 196},
      {'over': 41, 'runs': 200, 'wickets': 1},
      {'over': 42, 'runs': 213},
      {'over': 43, 'runs': 225},
      {'over': 44, 'runs': 229, 'wickets': 1},
      {'over': 45, 'runs': 236},
      {'over': 46, 'runs': 245},
      {'over': 47, 'runs': 260, 'wickets': 1},
      {'over': 48, 'runs': 260, 'wickets': 1}]}],
   'awayInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 3},
      {'over': 2, 'runs': 8},
      {'over': 3, 'runs': 17},
      {'over': 4, 'runs': 24},
      {'over': 5, 'runs': 30},
      {'over': 6, 'runs': 33},
      {'over': 7, 'runs': 39},
      {'over': 8, 'runs': 40, 'wickets': 1},
      {'over': 9, 'runs': 45, 'wickets': 1},
      {'over': 10, 'runs': 48},
      {'over': 11, 'runs': 50},
      {'over': 12, 'runs': 55},
      {'over': 13, 'runs': 64},
      {'over': 14, 'runs': 68},
      {'over': 15, 'runs': 71},
      {'over': 16, 'runs': 73},
      {'over': 17, 'runs': 77, 'wickets': 1},
      {'over': 18, 'runs': 80},
      {'over': 19, 'runs': 86},
      {'over': 20, 'runs': 93},
      {'over': 21, 'runs': 94},
      {'over': 22, 'runs': 98},
      {'over': 23, 'runs': 105},
      {'over': 24, 'runs': 110},
      {'over': 25, 'runs': 113},
      {'over': 26, 'runs': 119},
      {'over': 27, 'runs': 124},
      {'over': 28, 'runs': 129},
      {'over': 29, 'runs': 139},
      {'over': 30, 'runs': 148},
      {'over': 31, 'runs': 151},
      {'over': 32, 'runs': 159},
      {'over': 33, 'runs': 164},
      {'over': 34, 'runs': 171},
      {'over': 35, 'runs': 175},
      {'over': 36, 'runs': 183},
      {'over': 37, 'runs': 187},
      {'over': 38, 'runs': 193, 'wickets': 1},
      {'over': 39, 'runs': 198},
      {'over': 40, 'runs': 207},
      {'over': 41, 'runs': 212},
      {'over': 42, 'runs': 215},
      {'over': 43, 'runs': 224},
      {'over': 44, 'runs': 240},
      {'over': 45, 'runs': 256},
      {'over': 46, 'runs': 265},
      {'over': 47, 'runs': 283},
      {'over': 48, 'runs': 294},
      {'over': 49, 'runs': 306},
      {'over': 50, 'runs': 320, 'wickets': 1}]}]}},
 'match_graph_details_13265828': {'graphPoints': {'homeInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 1, 'wickets': 1},
      {'over': 2, 'runs': 2, 'wickets': 1},
      {'over': 3, 'runs': 11},
      {'over': 4, 'runs': 13},
      {'over': 5, 'runs': 22},
      {'over': 6, 'runs': 26},
      {'over': 7, 'runs': 27, 'wickets': 1},
      {'over': 8, 'runs': 35},
      {'over': 9, 'runs': 36, 'wickets': 2},
      {'over': 10, 'runs': 39},
      {'over': 11, 'runs': 42},
      {'over': 12, 'runs': 49},
      {'over': 13, 'runs': 50},
      {'over': 14, 'runs': 54},
      {'over': 15, 'runs': 62},
      {'over': 16, 'runs': 65},
      {'over': 17, 'runs': 65},
      {'over': 18, 'runs': 66},
      {'over': 19, 'runs': 70},
      {'over': 20, 'runs': 79},
      {'over': 21, 'runs': 83},
      {'over': 22, 'runs': 84},
      {'over': 23, 'runs': 86},
      {'over': 24, 'runs': 90},
      {'over': 25, 'runs': 92},
      {'over': 26, 'runs': 95},
      {'over': 27, 'runs': 98},
      {'over': 28, 'runs': 99},
      {'over': 29, 'runs': 103},
      {'over': 30, 'runs': 111},
      {'over': 31, 'runs': 113},
      {'over': 32, 'runs': 119},
      {'over': 33, 'runs': 123},
      {'over': 34, 'runs': 128},
      {'over': 35, 'runs': 132},
      {'over': 36, 'runs': 136},
      {'over': 37, 'runs': 142},
      {'over': 38, 'runs': 151},
      {'over': 39, 'runs': 162},
      {'over': 40, 'runs': 165},
      {'over': 41, 'runs': 176},
      {'over': 42, 'runs': 183},
      {'over': 43, 'runs': 189, 'wickets': 1},
      {'over': 44, 'runs': 192},
      {'over': 45, 'runs': 212},
      {'over': 46, 'runs': 214, 'wickets': 1},
      {'over': 47, 'runs': 221, 'wickets': 1},
      {'over': 48, 'runs': 226},
      {'over': 49, 'runs': 228, 'wickets': 1},
      {'over': 50, 'runs': 228, 'wickets': 1}]}],
   'awayInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 5},
      {'over': 2, 'runs': 6},
      {'over': 3, 'runs': 11},
      {'over': 4, 'runs': 22},
      {'over': 5, 'runs': 23},
      {'over': 6, 'runs': 35},
      {'over': 7, 'runs': 41},
      {'over': 8, 'runs': 51},
      {'over': 9, 'runs': 65},
      {'over': 10, 'runs': 69, 'wickets': 1},
      {'over': 11, 'runs': 70},
      {'over': 12, 'runs': 72},
      {'over': 13, 'runs': 75},
      {'over': 14, 'runs': 78},
      {'over': 15, 'runs': 84},
      {'over': 16, 'runs': 88},
      {'over': 17, 'runs': 91},
      {'over': 18, 'runs': 94},
      {'over': 19, 'runs': 97},
      {'over': 20, 'runs': 101},
      {'over': 21, 'runs': 104},
      {'over': 22, 'runs': 111},
      {'over': 23, 'runs': 112, 'wickets': 1},
      {'over': 24, 'runs': 118},
      {'over': 25, 'runs': 122},
      {'over': 26, 'runs': 124},
      {'over': 27, 'runs': 126},
      {'over': 28, 'runs': 134, 'wickets': 1},
      {'over': 29, 'runs': 138},
      {'over': 30, 'runs': 144},
      {'over': 31, 'runs': 145, 'wickets': 1},
      {'over': 32, 'runs': 151},
      {'over': 33, 'runs': 154},
      {'over': 34, 'runs': 158},
      {'over': 35, 'runs': 161},
      {'over': 36, 'runs': 165},
      {'over': 37, 'runs': 172},
      {'over': 38, 'runs': 175},
      {'over': 39, 'runs': 186},
      {'over': 40, 'runs': 189},
      {'over': 41, 'runs': 195},
      {'over': 42, 'runs': 198},
      {'over': 43, 'runs': 201},
      {'over': 44, 'runs': 210},
      {'over': 45, 'runs': 221},
      {'over': 46, 'runs': 223},
      {'over': 47, 'runs': 231}]}]}},
 'match_graph_details_13265829': {'graphPoints': {'homeInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 3},
      {'over': 2, 'runs': 9},
      {'over': 3, 'runs': 12},
      {'over': 4, 'runs': 17, 'wickets': 1},
      {'over': 5, 'runs': 23},
      {'over': 6, 'runs': 28},
      {'over': 7, 'runs': 28},
      {'over': 8, 'runs': 30},
      {'over': 9, 'runs': 31},
      {'over': 10, 'runs': 38, 'wickets': 1},
      {'over': 11, 'runs': 42},
      {'over': 12, 'runs': 48},
      {'over': 13, 'runs': 50},
      {'over': 14, 'runs': 50, 'wickets': 1},
      {'over': 15, 'runs': 51, 'wickets': 1},
      {'over': 16, 'runs': 56},
      {'over': 17, 'runs': 57},
      {'over': 18, 'runs': 68},
      {'over': 19, 'runs': 70},
      {'over': 20, 'runs': 77},
      {'over': 21, 'runs': 84},
      {'over': 22, 'runs': 86},
      {'over': 23, 'runs': 89, 'wickets': 1},
      {'over': 24, 'runs': 95},
      {'over': 25, 'runs': 99},
      {'over': 26, 'runs': 105},
      {'over': 27, 'runs': 114},
      {'over': 28, 'runs': 117},
      {'over': 29, 'runs': 120, 'wickets': 1},
      {'over': 30, 'runs': 121},
      {'over': 31, 'runs': 134},
      {'over': 32, 'runs': 136},
      {'over': 33, 'runs': 139},
      {'over': 34, 'runs': 141},
      {'over': 35, 'runs': 152, 'wickets': 1},
      {'over': 36, 'runs': 161},
      {'over': 37, 'runs': 168},
      {'over': 38, 'runs': 169, 'wickets': 1},
      {'over': 39, 'runs': 175},
      {'over': 40, 'runs': 189},
      {'over': 41, 'runs': 193},
      {'over': 42, 'runs': 199},
      {'over': 43, 'runs': 208, 'wickets': 1},
      {'over': 44, 'runs': 208, 'wickets': 1}]}],
   'awayInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 4},
      {'over': 2, 'runs': 5},
      {'over': 3, 'runs': 8},
      {'over': 4, 'runs': 20},
      {'over': 5, 'runs': 28},
      {'over': 6, 'runs': 30, 'wickets': 1},
      {'over': 7, 'runs': 31},
      {'over': 8, 'runs': 37},
      {'over': 9, 'runs': 45},
      {'over': 10, 'runs': 46},
      {'over': 11, 'runs': 51},
      {'over': 12, 'runs': 61},
      {'over': 13, 'runs': 70},
      {'over': 14, 'runs': 74},
      {'over': 15, 'runs': 83},
      {'over': 16, 'runs': 87},
      {'over': 17, 'runs': 93},
      {'over': 18, 'runs': 96},
      {'over': 19, 'runs': 98},
      {'over': 20, 'runs': 104},
      {'over': 21, 'runs': 110},
      {'over': 22, 'runs': 113},
      {'over': 23, 'runs': 122},
      {'over': 24, 'runs': 131},
      {'over': 25, 'runs': 136},
      {'over': 26, 'runs': 140},
      {'over': 27, 'runs': 147},
      {'over': 28, 'runs': 156},
      {'over': 29, 'runs': 158, 'wickets': 1},
      {'over': 30, 'runs': 170},
      {'over': 31, 'runs': 177},
      {'over': 32, 'runs': 184},
      {'over': 33, 'runs': 188},
      {'over': 34, 'runs': 192},
      {'over': 35, 'runs': 199},
      {'over': 36, 'runs': 202, 'wickets': 1},
      {'over': 37, 'runs': 208},
      {'over': 38, 'runs': 216},
      {'over': 39, 'runs': 218},
      {'over': 40, 'runs': 230},
      {'over': 41, 'runs': 238},
      {'over': 42, 'runs': 245},
      {'over': 43, 'runs': 251, 'wickets': 1},
      {'over': 44, 'runs': 259},
      {'over': 45, 'runs': 265},
      {'over': 46, 'runs': 273},
      {'over': 47, 'runs': 285},
      {'over': 48, 'runs': 298, 'wickets': 1},
      {'over': 49, 'runs': 301, 'wickets': 1},
      {'over': 50, 'runs': 315}]}]}},
 'match_graph_details_13265830': {'graphPoints': {'homeInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 8},
      {'over': 2, 'runs': 17},
      {'over': 3, 'runs': 21},
      {'over': 4, 'runs': 27, 'wickets': 1},
      {'over': 5, 'runs': 31, 'wickets': 1},
      {'over': 6, 'runs': 43},
      {'over': 7, 'runs': 50},
      {'over': 8, 'runs': 57},
      {'over': 9, 'runs': 62},
      {'over': 10, 'runs': 76},
      {'over': 11, 'runs': 79},
      {'over': 12, 'runs': 85},
      {'over': 13, 'runs': 92},
      {'over': 14, 'runs': 94},
      {'over': 15, 'runs': 103},
      {'over': 16, 'runs': 109},
      {'over': 17, 'runs': 114},
      {'over': 18, 'runs': 118},
      {'over': 19, 'runs': 122},
      {'over': 20, 'runs': 129, 'wickets': 1},
      {'over': 21, 'runs': 135},
      {'over': 22, 'runs': 136},
      {'over': 23, 'runs': 140, 'wickets': 1},
      {'over': 24, 'runs': 146},
      {'over': 25, 'runs': 156},
      {'over': 26, 'runs': 161},
      {'over': 27, 'runs': 176},
      {'over': 28, 'runs': 184},
      {'over': 29, 'runs': 190},
      {'over': 30, 'runs': 197},
      {'over': 31, 'runs': 203},
      {'over': 32, 'runs': 212},
      {'over': 33, 'runs': 221},
      {'over': 34, 'runs': 226},
      {'over': 35, 'runs': 234},
      {'over': 36, 'runs': 241},
      {'over': 37, 'runs': 244},
      {'over': 38, 'runs': 250},
      {'over': 39, 'runs': 261},
      {'over': 40, 'runs': 265},
      {'over': 41, 'runs': 272},
      {'over': 42, 'runs': 282, 'wickets': 1},
      {'over': 43, 'runs': 295},
      {'over': 44, 'runs': 308},
      {'over': 45, 'runs': 318},
      {'over': 46, 'runs': 329},
      {'over': 47, 'runs': 348},
      {'over': 48, 'runs': 356}]}],
   'awayInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 12},
      {'over': 2, 'runs': 17, 'wickets': 1},
      {'over': 3, 'runs': 20},
      {'over': 4, 'runs': 32},
      {'over': 5, 'runs': 42},
      {'over': 6, 'runs': 46, 'wickets': 1},
      {'over': 7, 'runs': 55},
      {'over': 8, 'runs': 60},
      {'over': 9, 'runs': 64},
      {'over': 10, 'runs': 73},
      {'over': 11, 'runs': 80},
      {'over': 12, 'runs': 87},
      {'over': 13, 'runs': 91},
      {'over': 14, 'runs': 102},
      {'over': 15, 'runs': 108},
      {'over': 16, 'runs': 113},
      {'over': 17, 'runs': 116},
      {'over': 18, 'runs': 126},
      {'over': 19, 'runs': 129},
      {'over': 20, 'runs': 132},
      {'over': 21, 'runs': 143},
      {'over': 22, 'runs': 150},
      {'over': 23, 'runs': 154},
      {'over': 24, 'runs': 159},
      {'over': 25, 'runs': 166},
      {'over': 26, 'runs': 171},
      {'over': 27, 'runs': 179},
      {'over': 28, 'runs': 183},
      {'over': 29, 'runs': 191},
      {'over': 30, 'runs': 200},
      {'over': 31, 'runs': 201, 'wickets': 1},
      {'over': 32, 'runs': 210},
      {'over': 33, 'runs': 216},
      {'over': 34, 'runs': 219},
      {'over': 35, 'runs': 224, 'wickets': 1},
      {'over': 36, 'runs': 228},
      {'over': 37, 'runs': 241},
      {'over': 38, 'runs': 248},
      {'over': 39, 'runs': 258},
      {'over': 40, 'runs': 268},
      {'over': 41, 'runs': 280, 'wickets': 1},
      {'over': 42, 'runs': 285},
      {'over': 43, 'runs': 289},
      {'over': 44, 'runs': 299},
      {'over': 45, 'runs': 303},
      {'over': 46, 'runs': 311},
      {'over': 47, 'runs': 321, 'wickets': 1},
      {'over': 48, 'runs': 325, 'wickets': 1},
      {'over': 49, 'runs': 336},
      {'over': 50, 'runs': 351, 'wickets': 1}]}]}},
 'match_graph_details_13265831': {'graphPoints': {'homeInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 6},
      {'over': 2, 'runs': 10},
      {'over': 3, 'runs': 14},
      {'over': 4, 'runs': 22},
      {'over': 5, 'runs': 25},
      {'over': 6, 'runs': 26},
      {'over': 7, 'runs': 31},
      {'over': 8, 'runs': 37},
      {'over': 9, 'runs': 47, 'wickets': 1},
      {'over': 10, 'runs': 52, 'wickets': 1},
      {'over': 11, 'runs': 55},
      {'over': 12, 'runs': 58},
      {'over': 13, 'runs': 59},
      {'over': 14, 'runs': 61},
      {'over': 15, 'runs': 63},
      {'over': 16, 'runs': 70},
      {'over': 17, 'runs': 72},
      {'over': 18, 'runs': 74},
      {'over': 19, 'runs': 77},
      {'over': 20, 'runs': 79},
      {'over': 21, 'runs': 82},
      {'over': 22, 'runs': 86},
      {'over': 23, 'runs': 90},
      {'over': 24, 'runs': 94},
      {'over': 25, 'runs': 99},
      {'over': 26, 'runs': 107},
      {'over': 27, 'runs': 116},
      {'over': 28, 'runs': 121},
      {'over': 29, 'runs': 126},
      {'over': 30, 'runs': 129},
      {'over': 31, 'runs': 137},
      {'over': 32, 'runs': 142},
      {'over': 33, 'runs': 150},
      {'over': 34, 'runs': 154, 'wickets': 1},
      {'over': 35, 'runs': 160, 'wickets': 1},
      {'over': 36, 'runs': 165},
      {'over': 37, 'runs': 167, 'wickets': 1},
      {'over': 38, 'runs': 170},
      {'over': 39, 'runs': 177},
      {'over': 40, 'runs': 183},
      {'over': 41, 'runs': 188},
      {'over': 42, 'runs': 197},
      {'over': 43, 'runs': 200, 'wickets': 2},
      {'over': 44, 'runs': 206},
      {'over': 45, 'runs': 212},
      {'over': 46, 'runs': 219},
      {'over': 47, 'runs': 222, 'wickets': 1},
      {'over': 48, 'runs': 227},
      {'over': 49, 'runs': 241, 'wickets': 1},
      {'over': 50, 'runs': 241, 'wickets': 1}]}],
   'awayInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 2},
      {'over': 2, 'runs': 12},
      {'over': 3, 'runs': 20},
      {'over': 4, 'runs': 26},
      {'over': 5, 'runs': 31, 'wickets': 1},
      {'over': 6, 'runs': 32},
      {'over': 7, 'runs': 46},
      {'over': 8, 'runs': 49},
      {'over': 9, 'runs': 63},
      {'over': 10, 'runs': 64},
      {'over': 11, 'runs': 67},
      {'over': 12, 'runs': 70},
      {'over': 13, 'runs': 84},
      {'over': 14, 'runs': 87},
      {'over': 15, 'runs': 89},
      {'over': 16, 'runs': 93},
      {'over': 17, 'runs': 99},
      {'over': 18, 'runs': 102, 'wickets': 1},
      {'over': 19, 'runs': 107},
      {'over': 20, 'runs': 109},
      {'over': 21, 'runs': 115},
      {'over': 22, 'runs': 118},
      {'over': 23, 'runs': 123},
      {'over': 24, 'runs': 124},
      {'over': 25, 'runs': 126},
      {'over': 26, 'runs': 128},
      {'over': 27, 'runs': 136},
      {'over': 28, 'runs': 140},
      {'over': 29, 'runs': 150},
      {'over': 30, 'runs': 160},
      {'over': 31, 'runs': 168},
      {'over': 32, 'runs': 175},
      {'over': 33, 'runs': 179},
      {'over': 34, 'runs': 185},
      {'over': 35, 'runs': 189},
      {'over': 36, 'runs': 200},
      {'over': 37, 'runs': 201},
      {'over': 38, 'runs': 209},
      {'over': 39, 'runs': 215, 'wickets': 1},
      {'over': 40, 'runs': 223, 'wickets': 1},
      {'over': 41, 'runs': 225},
      {'over': 42, 'runs': 238},
      {'over': 43, 'runs': 244}]}]}},
 'match_graph_details_13265832': {'graphPoints': {'homeInnings': [{'inning': 1,
     'runs': [{'over': 1, 'runs': 3},
      {'over': 2, 'runs': 13},
      {'over': 3, 'runs': 14},
      {'over': 4, 'runs': 16},
      {'over': 5, 'runs': 24},
      {'over': 6, 'runs': 24},
      {'over': 7, 'runs': 33},
      {'over': 8, 'runs': 45},
      {'over': 9, 'runs': 51, 'wickets': 1},
      {'over': 10, 'runs': 58},
      {'over': 11, 'runs': 61},
      {'over': 12, 'runs': 64, 'wickets': 1},
      {'over': 13, 'runs': 66},
      {'over': 14, 'runs': 77},
      {'over': 15, 'runs': 78},
      {'over': 16, 'runs': 80},
      {'over': 17, 'runs': 81},
      {'over': 18, 'runs': 83},
      {'over': 19, 'runs': 91},
      {'over': 20, 'runs': 97},
      {'over': 21, 'runs': 99, 'wickets': 1},
      {'over': 22, 'runs': 105},
      {'over': 23, 'runs': 106, 'wickets': 1},
      {'over': 24, 'runs': 113},
      {'over': 25, 'runs': 114},
      {'over': 26, 'runs': 118},
      {'over': 27, 'runs': 119, 'wickets': 1},
      {'over': 28, 'runs': 123},
      {'over': 29, 'runs': 127},
      {'over': 30, 'runs': 131},
      {'over': 31, 'runs': 138},
      {'over': 32, 'runs': 140},
      {'over': 33, 'runs': 143},
      {'over': 34, 'runs': 146},
      {'over': 35, 'runs': 149},
      {'over': 36, 'runs': 156},
      {'over': 37, 'runs': 163},
      {'over': 38, 'runs': 165, 'wickets': 1},
      {'over': 39, 'runs': 165},
      {'over': 40, 'runs': 172},
      {'over': 41, 'runs': 184},
      {'over': 42, 'runs': 193},
      {'over': 43, 'runs': 196},
      {'over': 44, 'runs': 202, 'wickets': 1},
      {'over': 45, 'runs': 202},
      {'over': 46, 'runs': 213},
      {'over': 47, 'runs': 223},
      {'over': 48, 'runs': 231},
      {'over': 49, 'runs': 234, 'wickets': 1},
      {'over': 50, 'runs': 236, 'wickets': 1}]}],
   'awayInnings': [{'inning': 2,
     'runs': [{'over': 1, 'runs': 0, 'wickets': 1},
      {'over': 2, 'runs': 5},
      {'over': 3, 'runs': 13},
      {'over': 4, 'runs': 19, 'wickets': 1},
      {'over': 5, 'runs': 19},
      {'over': 6, 'runs': 20},
      {'over': 7, 'runs': 28},
      {'over': 8, 'runs': 40},
      {'over': 9, 'runs': 49},
      {'over': 10, 'runs': 54},
      {'over': 11, 'runs': 57},
      {'over': 12, 'runs': 58},
      {'over': 13, 'runs': 65},
      {'over': 14, 'runs': 66},
      {'over': 15, 'runs': 71},
      {'over': 16, 'runs': 74, 'wickets': 1},
      {'over': 17, 'runs': 78},
      {'over': 18, 'runs': 87},
      {'over': 19, 'runs': 90},
      {'over': 20, 'runs': 94},
      {'over': 21, 'runs': 99},
      {'over': 22, 'runs': 103},
      {'over': 23, 'runs': 105},
      {'over': 24, 'runs': 108},
      {'over': 25, 'runs': 111},
      {'over': 26, 'runs': 121},
      {'over': 27, 'runs': 128},
      {'over': 28, 'runs': 140},

# Depth json To flatted Json

In [60]:
# Function for Convert a nested json dictionary to flatten json or dictionary
def flatten_json(nested_json, parent_key='', sep='_'):

    items = []
    
    # If the value is a dictionary
    if isinstance(nested_json, dict):
        for key, value in nested_json.items():
            new_key = f"{parent_key}{sep}{key}" if parent_key else key
            items.extend(flatten_json(value, new_key, sep=sep).items())
    
    # If the value is a list
    elif isinstance(nested_json, list): 
        for index, item in enumerate(nested_json):
            new_key = f"{parent_key}{sep}{index}" if parent_key else str(index)
            items.extend(flatten_json(item, new_key, sep=sep).items())
            
    # If the value is neither dict nor list
    else:
        items.append((parent_key, nested_json))

    return dict(items)

# Flatten Json to Column Row

In [61]:
def process_json_file(data):
    try:
        # Normalize JSON data
        if isinstance(data, list):  # JSON is an array of objects
            flat_data = [flatten_json(item) for item in data]
        elif isinstance(data, dict):  # JSON is a single dictionary
            flat_data = [flatten_json(data)]
        else:
            raise ValueError("Unsupported JSON format")

        # Convert to DataFrame
        df = pd.DataFrame(flat_data)
        return df


    except json.JSONDecodeError:
        print("Error: Invalid JSON file.")
    except Exception as e:
        print(f"Error: {str(e)}")

## 1. first level keys

In [62]:
# first level keys
print("Data Type: ", type(data))
match_graph.keys()

Data Type:  <class 'dict'>

dict_keys(['match_graph_details_13265827', 'match_graph_details_13265828', 'match_graph_details_13265829', 'match_graph_details_13265830', 'match_graph_details_13265831', 'match_graph_details_13265832', 'match_graph_details_13265834', 'match_graph_details_13265837', 'match_graph_details_13265838', 'match_graph_details_13265840', 'match_graph_details_13558575', 'match_graph_details_13558576', 'match_graph_details_13569002'])

In [63]:
for i in match_graph.keys():
    print(i)

match_graph_details_13265827
match_graph_details_13265828
match_graph_details_13265829
match_graph_details_13265830
match_graph_details_13265831
match_graph_details_13265832
match_graph_details_13265834
match_graph_details_13265837
match_graph_details_13265838
match_graph_details_13265840
match_graph_details_13558575
match_graph_details_13558576
match_graph_details_13569002

# Process Dictionary file to data

In [48]:
def process_dictionary(data):
    all_dataframe = {}
    parent_json = {}

    for key in data:
        if data[key] is not None and data[key] != "" and data[key] != {}:
            if isinstance(data[key], list):  # If value is a list
                dataframe = pd.DataFrame(columns=process_json_file(flatten_json(data[key][0])).columns)
                for i in range(len(data[key])):
                    flatten_dict = flatten_json(data[key][i])
                    new_dataframe = process_json_file(flatten_dict)
                    dataframe = pd.concat([dataframe, new_dataframe], ignore_index=True)

                    # Deleting field translation columns
                    dataframe = dataframe.loc[:, ~dataframe.columns.str.contains("fieldtranslations|translation", case=False, regex=True)]

                if dataframe.shape[1] >= 10:  # If columns are 10 or more
                    all_dataframe[key] = dataframe
                else:
                    parent_json[key] = data[key]

            elif isinstance(data[key], dict):  # If value is a dictionary
                flatten_dict = flatten_json(data[key])
                dataframe = process_json_file(flatten_dict)

                # Deleting field translation columns
                dataframe = dataframe.loc[:, ~dataframe.columns.str.contains("fieldtranslations|translation", case=False, regex=True)]

                if dataframe.shape[1] >= 5:  # If columns are 5 or more
                    all_dataframe[key] = dataframe
                else:
                    parent_json[key] = data[key]
            else:
                parent_json[key] = data[key]

    # Convert parent_json into a DataFrame and store it in all_dataframe
    all_dataframe["parent_df"] = process_json_file(flatten_json(parent_json))

    return all_dataframe

In [10]:
data.keys()

dict_keys(['homeInnings', 'awayInnings'])

In [66]:
data = match_graph['match_graph_details_13265830']
data

{'graphPoints': {'homeInnings': [{'inning': 2,
    'runs': [{'over': 1, 'runs': 8},
     {'over': 2, 'runs': 17},
     {'over': 3, 'runs': 21},
     {'over': 4, 'runs': 27, 'wickets': 1},
     {'over': 5, 'runs': 31, 'wickets': 1},
     {'over': 6, 'runs': 43},
     {'over': 7, 'runs': 50},
     {'over': 8, 'runs': 57},
     {'over': 9, 'runs': 62},
     {'over': 10, 'runs': 76},
     {'over': 11, 'runs': 79},
     {'over': 12, 'runs': 85},
     {'over': 13, 'runs': 92},
     {'over': 14, 'runs': 94},
     {'over': 15, 'runs': 103},
     {'over': 16, 'runs': 109},
     {'over': 17, 'runs': 114},
     {'over': 18, 'runs': 118},
     {'over': 19, 'runs': 122},
     {'over': 20, 'runs': 129, 'wickets': 1},
     {'over': 21, 'runs': 135},
     {'over': 22, 'runs': 136},
     {'over': 23, 'runs': 140, 'wickets': 1},
     {'over': 24, 'runs': 146},
     {'over': 25, 'runs': 156},
     {'over': 26, 'runs': 161},
     {'over': 27, 'runs': 176},
     {'over': 28, 'runs': 184},
     {'over': 29, 'runs': 190},
     {'over': 30, 'runs': 197},
     {'over': 31, 'runs': 203},
     {'over': 32, 'runs': 212},
     {'over': 33, 'runs': 221},
     {'over': 34, 'runs': 226},
     {'over': 35, 'runs': 234},
     {'over': 36, 'runs': 241},
     {'over': 37, 'runs': 244},
     {'over': 38, 'runs': 250},
     {'over': 39, 'runs': 261},
     {'over': 40, 'runs': 265},
     {'over': 41, 'runs': 272},
     {'over': 42, 'runs': 282, 'wickets': 1},
     {'over': 43, 'runs': 295},
     {'over': 44, 'runs': 308},
     {'over': 45, 'runs': 318},
     {'over': 46, 'runs': 329},
     {'over': 47, 'runs': 348},
     {'over': 48, 'runs': 356}]}],
  'awayInnings': [{'inning': 1,
    'runs': [{'over': 1, 'runs': 12},
     {'over': 2, 'runs': 17, 'wickets': 1},
     {'over': 3, 'runs': 20},
     {'over': 4, 'runs': 32},
     {'over': 5, 'runs': 42},
     {'over': 6, 'runs': 46, 'wickets': 1},
     {'over': 7, 'runs': 55},
     {'over': 8, 'runs': 60},
     {'over': 9, 'runs': 64},
     {'over': 10, 'runs': 73},
     {'over': 11, 'runs': 80},
     {'over': 12, 'runs': 87},
     {'over': 13, 'runs': 91},
     {'over': 14, 'runs': 102},
     {'over': 15, 'runs': 108},
     {'over': 16, 'runs': 113},
     {'over': 17, 'runs': 116},
     {'over': 18, 'runs': 126},
     {'over': 19, 'runs': 129},
     {'over': 20, 'runs': 132},
     {'over': 21, 'runs': 143},
     {'over': 22, 'runs': 150},
     {'over': 23, 'runs': 154},
     {'over': 24, 'runs': 159},
     {'over': 25, 'runs': 166},
     {'over': 26, 'runs': 171},
     {'over': 27, 'runs': 179},
     {'over': 28, 'runs': 183},
     {'over': 29, 'runs': 191},
     {'over': 30, 'runs': 200},
     {'over': 31, 'runs': 201, 'wickets': 1},
     {'over': 32, 'runs': 210},
     {'over': 33, 'runs': 216},
     {'over': 34, 'runs': 219},
     {'over': 35, 'runs': 224, 'wickets': 1},
     {'over': 36, 'runs': 228},
     {'over': 37, 'runs': 241},
     {'over': 38, 'runs': 248},
     {'over': 39, 'runs': 258},
     {'over': 40, 'runs': 268},
     {'over': 41, 'runs': 280, 'wickets': 1},
     {'over': 42, 'runs': 285},
     {'over': 43, 'runs': 289},
     {'over': 44, 'runs': 299},
     {'over': 45, 'runs': 303},
     {'over': 46, 'runs': 311},
     {'over': 47, 'runs': 321, 'wickets': 1},
     {'over': 48, 'runs': 325, 'wickets': 1},
     {'over': 49, 'runs': 336},
     {'over': 50, 'runs': 351, 'wickets': 1}]}]}}

In [71]:
int('match_graph_details_13265830'.split('_')[-1])

13265830

In [82]:
all_match_graph_data = pd.DataFrame(columns=['over', 'runs', 'wickets', 'match_id'])
all_match_graph_data

Empty DataFrame
Columns: [over, runs, wickets, match_id]
Index: []

# This is the main code to collect and concat all data together

In [83]:
all_match_graph_data = pd.DataFrame(columns=['over', 'runs', 'wickets', 'match_id'])
all_match_graph_data
for i in match_graph.keys():
    # extracting match_id from match_name
    match_id = int(i.split('_')[-1])

    # for a particular match id assigning data 
    data = match_graph[i]  

    # homeinnings data extracting
    homeinnings = process_json_file(data['graphPoints']['homeInnings'][0]['runs'])
    homeinnings['inning'] = 'home'
    homeinnings['match_id'] = match_id
    
    # awayinnings data extractiong
    awayinnings = process_json_file(data['graphPoints']['awayInnings'][0]['runs'])
    awayinnings['inning'] = 'away'
    awayinnings['match_id'] = match_id 

    # concatenating home and away inings data
    match_graph_data = pd.concat([homeinnings, awayinnings],ignore_index=True)
    all_match_graph_data = pd.concat([all_match_graph_data, match_graph_data], ignore_index=False)

C:\Program Files\KMSpico\temp\ipykernel_8000\2411563021.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_match_graph_data = pd.concat([all_match_graph_data, match_graph_data], ignore_index=False)

In [84]:
all_match_graph_data

   over runs  wickets  match_id inning
0     1    1      NaN  13265827   home
1     2    3      NaN  13265827   home
2     3    5      NaN  13265827   home
3     4    8      1.0  13265827   home
4     5   12      NaN  13265827   home
..  ...  ...      ...       ...    ...
94   46  212      1.0  13569002   away
95   47  216      NaN  13569002   away
96   48  227      NaN  13569002   away
97   49  239      1.0  13569002   away
98   50  251      NaN  13569002   away

[1203 rows x 5 columns]

In [87]:
# Saving all Data
all_match_graph_data.to_excel("all_match_graph_data.xlsx", index=False)

## homeInning data Extraction

In [75]:
match_id = int('match_graph_details_13265830'.split('_')[-1])
homeinnings = process_json_file(data['graphPoints']['homeInnings'][0]['runs'])
homeinnings['inning'] = 'home'
homeinnings['match_id'] = match_id

awayinnings = process_json_file(data['graphPoints']['awayInnings'][0]['runs'])
awayinnings['inning'] = 'away'
awayinnings['match_id'] = match_id 

pd.concat([homeinnings, awayinnings], ignore_index=True)

    over  runs  wickets inning  match_id
0      1     8      NaN   home  13265830
1      2    17      NaN   home  13265830
2      3    21      NaN   home  13265830
3      4    27      1.0   home  13265830
4      5    31      1.0   home  13265830
..   ...   ...      ...    ...       ...
93    46   311      NaN   away  13265830
94    47   321      1.0   away  13265830
95    48   325      1.0   away  13265830
96    49   336      NaN   away  13265830
97    50   351      1.0   away  13265830

[98 rows x 5 columns]

In [76]:
pd.concat([main_dataframe,pd.concat([homeinnings, awayinnings], ignore_index=True)], ignore_index=True)

C:\Program Files\KMSpico\temp\ipykernel_8000\2557685421.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat([main_dataframe,pd.concat([homeinnings, awayinnings], ignore_index=True)], ignore_index=True)

   over runs  wickets  match_id inning
0     1    8      NaN  13265830   home
1     2   17      NaN  13265830   home
2     3   21      NaN  13265830   home
3     4   27      1.0  13265830   home
4     5   31      1.0  13265830   home
..  ...  ...      ...       ...    ...
93   46  311      NaN  13265830   away
94   47  321      1.0  13265830   away
95   48  325      1.0  13265830   away
96   49  336      NaN  13265830   away
97   50  351      1.0  13265830   away

[98 rows x 5 columns]

In [42]:
match_id = 13569002
awayinnings = process_json_file(data['graphPoints']['awayInnings'][0]['runs'])
awayinnings['inning'] = 'away'
awayinnings['match_id'] = match_id 
awayinnings

    over  runs  wickets inning  match_id
0      1     4      NaN   away  13569002
1      2     6      NaN   away  13569002
2      3    10      NaN   away  13569002
3      4    26      NaN   away  13569002
4      5    37      NaN   away  13569002
5      6    46      NaN   away  13569002
6      7    51      NaN   away  13569002
7      8    58      1.0   away  13569002
8      9    64      NaN   away  13569002
9     10    69      NaN   away  13569002
10    11    73      1.0   away  13569002
11    12    75      NaN   away  13569002
12    13    77      1.0   away  13569002
13    14    81      NaN   away  13569002
14    15    83      NaN   away  13569002
15    16    85      NaN   away  13569002
16    17    90      NaN   away  13569002
17    18    95      NaN   away  13569002
18    19    99      NaN   away  13569002
19    20   101      NaN   away  13569002
20    21   102      NaN   away  13569002
21    22   104      NaN   away  13569002
22    23   107      NaN   away  13569002
23    24   110      1.0   away  13569002
24    25   114      NaN   away  13569002
25    26   116      NaN   away  13569002
26    27   123      NaN   away  13569002
27    28   126      NaN   away  13569002
28    29   131      NaN   away  13569002
29    30   135      NaN   away  13569002
30    31   138      NaN   away  13569002
31    32   143      NaN   away  13569002
32    33   147      NaN   away  13569002
33    34   149      NaN   away  13569002
34    35   153      NaN   away  13569002
35    36   156      NaN   away  13569002
36    37   161      NaN   away  13569002
37    38   165      1.0   away  13569002
38    39   168      NaN   away  13569002
39    40   172      NaN   away  13569002
40    41   175      NaN   away  13569002
41    42   178      NaN   away  13569002
42    43   184      NaN   away  13569002
43    44   196      NaN   away  13569002
44    45   201      NaN   away  13569002
45    46   212      1.0   away  13569002
46    47   216      NaN   away  13569002
47    48   227      NaN   away  13569002
48    49   239      1.0   away  13569002
49    50   251      NaN   away  13569002

In [ ]:
# saving file
# homeinnings.to_excel('home_inning.xlsx', index=False)

In [ ]:
# awayinnings.to_excel('away_inning.xlsx', index= False)

In [18]:
pd.concat([homeinnings, awayinnings], ignore_index=True)

    over  runs  wickets inning  match_id
0      1     9      NaN   home  13569002
1      2    22      NaN   home  13569002
2      3    25      NaN   home  13569002
3      4    30      NaN   home  13569002
4      5    31      NaN   home  13569002
..   ...   ...      ...    ...       ...
94    46   212      1.0   away  13569002
95    47   216      NaN   away  13569002
96    48   227      NaN   away  13569002
97    49   239      1.0   away  13569002
98    50   251      NaN   away  13569002

[99 rows x 5 columns]